
  <div class=".col-xs-6 .col-md-4">
    <div class="well">
<p id="log">Sign up</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group">
    <%= f.text_field :name,  placeholder: "Name " %>
  </div>

  <br>
  <div class="form-group">
    <%= f.email_field :email,  placeholder: "Email"%> 
  </div>

  <br>
  <div class="form-group">
    <%= f.text_area :bio, placeholder: "About Me..." %>
  </div>
<div class= "field_2">
  <div class= "field">
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <span id ="pswrd"><em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /></span>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</div>
<% end %>


<%= render "devise/shared/links" %>
</div>
</div>